In [1]:
# 基本パッケージ（numpy,Pandas,matplotlib）
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
# globのimport
import glob

In [2]:
# 表示関連
# DataFrameの列数設定
pd.set_option('display.max_columns', 500)

In [3]:
# 2001～2018年の株価データをマージする
## globでファイル名の一覧を取得
stock_price_files = glob.glob('stockPrice/*.csv')
stock_price_list = []

# ファイルを読み込み、DataFrameでlistに格納する。
for f in stock_price_files:
    stock_price_list.append(pd.read_csv(f, header=1, encoding="shift-jis", parse_dates = [0]))
    
# Listに格納されたデータを全てconcat関数で連結    
stock_price_all = pd.concat(stock_price_list)

# 列名の変更
stock_price_all.rename(columns = {'日付':'Date','始値':'Open','高値':'High','安値':'Low','終値':'Close','終値調整値':'Adj Close',
                                  '出来高':'Volume'}, inplace = True)

# 欠損値のチェック
print(stock_price_all.isnull().sum())

# 読み込みデータの表示
stock_price_all.head()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
dtype: int64

        Date   Open   High    Low  Close  Volume  Adj Close
0 2001-07-13  12490  12490  12300  12310  259430      12310
1 2001-07-16  12400  12400  12250  12330   99740      12330
2 2001-07-17  12170  12170  12100  12120   93150      12120
3 2001-07-18  12150  12150  11830  11840  165330      11840
4 2001-07-19  11990  11990  11860  11920  620220      11920

In [4]:
# 2002～2018年の為替レートを取得
market_Data = pd.read_csv('market/market.csv', header=0, encoding="shift-jis", parse_dates = [0])

# 不要な通貨を削除
market_Data.drop(columns=['USD','EUR','DKK','NOK','NZD','BHD','CNY','HKD','SAR','AED','MXN'], inplace=True)

# 欠損値のチェック
print(market_Data.isnull().sum())

# 読み込みデータの表示
market_Data.head()

Date        0
GBP         0
CAD         0
CHF         0
SEK         0
AUD         0
ZAR         0
IDR(100)    0
INR         0
PHP         0
SGD         0
KRW(100)    0
THB         0
KWD         0
TWD         0
dtype: int64

,Date,GBP,CAD,CHF,SEK,AUD,ZAR,IDR(100),INR,PHP,SGD,KRW(100),THB,KWD,TWD
0,2002-04-01,189.79,83.48,79.28,12.87,71.14,11.76,1.37,2.73,2.61,72.21,10.12,3.07,434.14,3.82
1,2002-04-02,191.78,83.38,80.15,13.00,71.02,11.78,1.38,2.73,2.62,72.18,10.12,3.06,435.01,3.82
2,2002-04-03,191.26,83.65,80.02,12.95,71.14,11.89,1.37,2.74,2.62,72.12,10.03,3.04,436.58,3.82
3,2002-04-04,191.13,83.72,80.18,12.93,70.81,12.02,1.37,2.73,2.61,72.26,10.02,3.05,435.11,3.82
4,2002-04-05,189.74,82.96,79.47,12.87,70.33,11.83,1.37,2.71,2.60,71.85,10.03,3.04,432.21,3.80

In [5]:
# 内部結合で結合する
merge_Data = pd.merge(stock_price_all, market_Data, on='Date', how='inner')

In [6]:
#ワンホットエンコーディング
## 月（1～12）、日（1～31）、曜日（月曜が0, 日曜が6）情報の抽出
dummyData = pd.DataFrame({
                          'month' : merge_Data['Date'].dt.month,
                          'day'  : merge_Data['Date'].dt.day,
                          'weekday' : merge_Data['Date'].dt.dayofweek
                         })

## 月、曜日情報をダミー変数へ変換
dummyData = pd.get_dummies(dummyData, columns=['month','day','weekday'])

## 最初の5行を表示
dummyData.head()

,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12,day_1,day_2,day_3,day_4,day_5,day_6,day_7,day_8,day_9,day_10,day_11,day_12,day_13,day_14,day_15,day_16,day_17,day_18,day_19,day_20,day_21,day_22,day_23,day_24,day_25,day_26,day_27,day_28,day_29,day_30,day_31,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4
0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [7]:
# 目的変数の作成
merge_Data['diff'] = merge_Data['Close'] - merge_Data['Open']
dummyData['answer'] = pd.DataFrame({'answer' : merge_Data['diff'].apply( lambda x: 0 if x < 0 else 1 )})

# 不要な列を削除
merge_Data.drop(columns=['Date','Close','diff'], inplace=True)

# 各列を変化率へ一括変換
merge_Data_change = merge_Data.pct_change()

# 正解ラベルとダミー変数の付与
merge_Data_change = pd.concat([merge_Data_change, dummyData], axis=1)

# 正解ラベルをずらし、説明変数から見て未来の値とする
merge_Data_change.answer = merge_Data_change.answer.shift(-1)

# 最初と最後の行（NaNがある）を削除
merge_Data_change.drop(0, axis=0, inplace=True)
merge_Data_change.drop(len(merge_Data_change), axis=0, inplace=True)

In [8]:
# ビニング
## SEK 10分割
merge_Data_change['SEK_bin'] = pd.qcut(merge_Data_change['SEK'], q=10)

## SGD 10分割
merge_Data_change['SGD_bin'] = pd.qcut(merge_Data_change['SGD'], q=10)

## Volume 10分割
merge_Data_change['Volume_bin'] = pd.qcut(merge_Data_change['Volume'], q=10)

## Open 10分割
merge_Data_change['Open_bin'] = pd.qcut(merge_Data_change['Open'], q=10)

## ZAR 10分割
merge_Data_change['ZAR_bin'] = pd.qcut(merge_Data_change['ZAR'], q=10)

# ダミー変数へ変換
merge_Data_change = pd.get_dummies(merge_Data_change, columns=['SEK_bin','SGD_bin','Volume_bin','Open_bin','ZAR_bin'])

In [9]:
# データの確認
merge_Data_change.head()
# CSVへ変換
merge_Data_change.to_csv("stock_Price_Prediction_v2.2.csv",index = False, encoding="shift-jis")